.clearfix
  = f.label :symbol, t("activerecord.attributes.stocklist.symbol", :default => "Symbol"), :class => :label
  .input
    = f.text_field :symbol, :class => 'text_field'
.clearfix
  = f.label :name, t("activerecord.attributes.stocklist.name", :default => "Name"), :class => :label
  .input
    = f.text_field :name, :class => 'text_field'
.clearfix
  = f.label :ipoyear, t("activerecord.attributes.stocklist.ipoyear", :default => "Ipoyear"), :class => :label
  .input
    = select_year show_ipoyear(@stocklist.ipoyear), :start_year => 1976, :end_year => Date.today.year, :field_name => :ipoyear, :prefix => :stocklist, :include_blank => true, :default => nil
.clearfix
  = f.label :sector, t("activerecord.attributes.stocklist.sector", :default => "Sector"), :class => :label
  .input
    = f.text_field :sector, :class => 'text_field'
.clearfix
  = f.label :industry, t("activerecord.attributes.stocklist.industry", :default => "Industry"), :class => :label
  .input
    = f.text_field :industry, :class => 'text_field'
.clearfix
  = f.label :marketcap, t("activerecord.attributes.stocklist.marketcap", :default => "Marketcap"), :class => :label
  .input
    = f.text_field :marketcap, :class => 'text_field'

.form-actions
  %button{:class => "btn btn-primary btn-medium", :type => "submit"} Save
  = link_to "Cancel", stocklists_path, :class => 'btn btn-medium'
