- editable = admin? ? true : false
  
%div{"ng-app" => "Stocklists", "ng-controller" => "StocklistsCtrl"}
  - if admin?
    %button.button-mini{"ng-click" => "showNewStocklist()", :class => 'btn btn-primary pull-right'}
      Add
  %div{style: "width: 380px"}
    %h4{style: "color: blue; display: inline-block"} Listed Stocks
    %input{type:"text", "ng-model" => 'search.symbol', placeholder: "Symbol",
          class: "inline input-mini search-query pull-right symbol_field"}
    %input{type:"text", "ng-model" => 'search.name', placeholder: "Name",
          class: "inline input-small search-query pull-right"}    

  %div{"id" => "stocklist-list-container"}
    %ul
      %li{"ng-repeat"=>"stocklist in stocklists| filter:search | orderBy:predicate:reverse", 
          "ng-click"=>"showStocklist(stocklist)"}
        %h5 {{stocklist.symbol}} 
        %small{:display => 'inline-block'} {{stocklist.name}}
        - if admin?
          %p{"confirmed-click" => "deleteStocklist(stocklist)", 
                  "ng-confirm-click" => "Do you want to delete?",
                   :class => 'icon-remove pull-right angular_remove'}

  %div{"id"=>"stocklist-view-container", 
       "ng-show"=>"selectedStocklist"}
    %h4 {{selectedStocklist.symbol}}

    - if admin?
      %i{:class=>"icon-edit"}     
    %div{"contentEditable"=>"#{editable}", 
         "ng-model"=>"selectedStocklist.name"}
      {{selectedStocklist.name}}
    %br
    
    %div.inline Exchange:
    - if admin?
      %i{:class=>"icon-edit"}  
    %div.inline{"contentEditable"=>"#{editable}", 
         "ng-model"=>"selectedStocklist.stockexchange"}
      {{selectedStocklist.stockexchange}}
    %br
    
    %div.inline Industry: 
    - if admin?
      %i{:class=>"icon-edit"}
    %div.inline{"contentEditable"=>"#{editable}", 
                "ng-model"=>"selectedStocklist.industry"}
      {{selectedStocklist.industry}}
    %br  
    
    %div.inline Sector: 
    - if admin?
      %i{:class=>"icon-edit"} 
    %div.inline{"contentEditable"=>"#{editable}", 
                "ng-model"=>"selectedStocklist.sector"}
      {{selectedStocklist.sector}}
    %br
    
    %div.inline IPO Year: 
    - if admin?
      %i{:class=>"icon-edit"} 
    %div.inline{"contentEditable"=>"#{editable}", "ng-model"=>"selectedStocklist.ipoyear"}
      {{selectedStocklist.ipoyear||'NONE'}}
    %br
    
    %br
      - if admin?
        %button.button-mini{"ng-click" => "updateStocklist(selectedStocklist)", :class => 'btn'}
          Update
        %button.button-mini{"confirmed-click" => "deleteStocklist(selectedStocklist)", 
                  "ng-confirm-click" => "Do you want to delete?",
                  :class => 'btn btn-danger btn-primary'}
          Delete
          
  = render :partial => "short_info"
      
  = render :partial => "new"
       
       
