%h1 Stocklists
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.stocklist.symbol", :default => t("activerecord.labels.symbol", :default => "Symbol"))
      %th Created at
      %th Actions
  %tbody
    - @stocklists.each do |stocklist|
      %tr
        %td= stocklist.id
        %td= link_to stocklist.symbol, stocklist_path(stocklist)
        %td= stocklist.created_at
        %td
          = link_to "Show", stocklist_path(stocklist)
          = link_to "Edit", edit_stocklist_path(stocklist)
          = link_to "Destroy", stocklist_path(stocklist), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_stocklist_path, :class => 'btn btn-primary'
