.span3
  %p#notice= notice
  
  %label{:class => "label"}= t("activerecord.attributes.stocklist.symbol", :default => "Symbol") + ":"
  %p= @stocklist.symbol
  %label{:class => "label"}= t("activerecord.attributes.stocklist.name", :default => "Name") + ":"
  %p= @stocklist.name
  %label{:class => "label"}= t("activerecord.attributes.stocklist.ipoyear", :default => "Ipoyear") + ":"
  %p= show_ipoyear @stocklist.ipoyear
  %label{:class => "label"}= t("activerecord.attributes.stocklist.stockexchange", :default => "Stock Exchange") + ":"
  %p= @stocklist.stockexchange
  %label{:class => "label"}= t("activerecord.attributes.stocklist.sector", :default => "Sector") + ":"
  %p= @stocklist.sector
  %label{:class => "label"}= t("activerecord.attributes.stocklist.industry", :default => "Industry") + ":"
  %p= @stocklist.industry
  %label{:class => "label"}= t("activerecord.attributes.stocklist.marketcap", :default => "Marketcap") + ":"
  %p= @stocklist.marketcap

  - if admin?  
    .form-actions 
      = link_to "Edit", edit_stocklist_path(@stocklist), :class => 'btn btn-small'
      = link_to "Delete", stocklist_path(@stocklist), :method => "delete", data: {confirm:  t('web-app-theme.confirm', default: 'Are you sure?')}, :class => 'btn btn-small btn-danger'

#stock_info
#stock_info2

:coffee
  load_yahoo_info "#{stock_fetch_yahoo_data_path}?yahoo_symbol=#{@stocklist.symbol}"
