- @no_sidebar = true
.span3
  %p#notice= notice
  
  %label{:class => "label"}= t("activerecord.attributes.stocklist.symbol", :default => "Symbol") + ":"
  %p= @stocklist.symbol
  %label{:class => "label"}= t("activerecord.attributes.stocklist.name", :default => "Name") + ":"
  %p= @stocklist.name
  %label{:class => "label"}= t("activerecord.attributes.stocklist.ipoyear", :default => "Ipoyear") + ":"
  %p= show_ipoyear @stocklist.ipoyear
  %label{:class => "label"}= t("activerecord.attributes.stocklist.stockexchange", :default => "Stock Exchange") + ":"
  %p= @stocklist.stockexchange
  %label{:class => "label"}= t("activerecord.attributes.stocklist.sector", :default => "Sector") + ":"
  %p= @stocklist.sector
  %label{:class => "label"}= t("activerecord.attributes.stocklist.industry", :default => "Industry") + ":"
  %p= @stocklist.industry
  %label{:class => "label"}= t("activerecord.attributes.stocklist.marketcap", :default => "Marketcap") + ":"
  %p= @stocklist.marketcap

    
  .form-actions
    = link_to "Edit", edit_stocklist_path(@stocklist), :class => 'btn btn-small'
    = link_to "Delete", stocklist_path(@stocklist), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-small btn-danger'

#stock_info
#stock_info2

:javascript
  $.ajax({
    url: "#{stock_fetch_fetch_data_path}?symbol=#{@stocklist.symbol}",
    success: function(data) { 
      $("div#stock_info").html(data);
    },
    failure: function(data) { alert("failure"); }
  });
  $.ajax({
    url: "#{stock_fetch_fetch_data_path}?symbol=#{@stocklist.symbol}&group=2",
    success: function(data) { 
      $("div#stock_info2").html(data);
    },
    failure: function(data) { alert("failure"); }
  });
