<!DOCTYPE html>
<html>
<head>
  <title>Stockslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fancyzoom" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<div class=span6>
<%= yield %>
</div>
</body>
</html>
